@font-face {
    font-family: "secular";
    src: url(../font/SecularOne-Regular.ttf);
}
body{
    margin: 0;
    font-family: "secular";
}
/* SIDEBAR */
nav {
    top: 0;
    position: fixed;
    width: 20vw;
    height: 100vh;
    background: #1E2959;
}
nav img.logo{
    position: relative;
    transform: translateX(-50%);
    margin-top: 2.5vh;
    margin-left:50%;
    margin-right:50%;
    width: 12vw;
    height: auto;
}

nav div.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5vh;
}
nav div.sidebar a{
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    padding: 2.5vh 0vw 2.5vh 3.5vw;
}
div.sidebar a img{
    height: 5vh;
    width: auto;
    padding-right: 1vw;
}
nav div.sidebar a.active{
    background-color: #4963DA;
    width: 100%;
}

/*  FIN SIDEBAR */


div.content{
    margin-left: 20vw;
    height: 100%;
    width: auto;
    position: relative;
    background: #EAEAEA;
    overflow: auto;
    z-index: 1;
}
.content h1{
    padding-left :2.5vw;
}

.contenu{
    border-radius: 10px;
    margin : 2.5vh 2.5vw 2.5vh 2.5vw;
    padding : 2.5vh 2.5vw 2.5vh 2.5vw;
    width: auto;
    position: relative;
    background: rgba(241, 241, 241, 0.50);
    backdrop-filter: blur(15px);
    text-align: center;
    color: #1E2959;
    font-size: 22px;
}
