.btn{
    padding: 1.5vh 3vw;
    margin: 3vh 1.5vw;
    text-decoration: none;
    border-radius: 5px;
    color: #FFF;
}

a.btn.add{
    background-color: #2DCE89;
    transition: 500ms;
}
a.btn.add:hover{
    background-color: #16af6d;
}

a.btn.remove{
    background-color: #FB6340;
    transition: 500ms;
}
a.btn.remove:hover{
    background-color: #d64221;
}

a.btn.delete{
    background-color: #F5365C;
    transition: 500ms;
}
a.btn.delete:hover{
    background-color: #db264a;
}

a.btn.neutral{
    background-color: #BEBEBE;
    transition: 500ms;
}
a.btn.neutral:hover{
    background-color: #999999;
}

select.btn{
    font-size: 1.5rem;
    font-family: "secular";
    background-color: #4963DA;
    border: none;
    transition: 500ms;
}
select.btn:hover{
    background-color: #374ca7;
}