/*!
 * fullPage 3.1.1
 * https://github.com/alvarotrigo/fullPage.js
 *
 * @license GPLv3 for open source use only
 * or Fullpage Commercial License for commercial use
 * http://alvarotrigo.com/fullPage/pricing/
 *
 * Copyright (C) 2018 http://alvarotrigo.com/fullPage - A project by Alvaro Trigo
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fp-section {
  position: relative;
  /* Safari<=5 Android<=3 */
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  transform: translate3d(0, 0, 0);
}

.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}

.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}

.fp-scrollable {
  overflow: hidden;
  position: relative;
}

.fp-scroller {
  overflow: hidden;
}

.iScrollIndicator {
  border: 0 !important;
}

.fp-notransition {
  transition: none !important;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translate3d(0, -50%, 0);
}

#fp-nav.fp-right {
  right: 17px;
}

#fp-nav.fp-left {
  left: 17px;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}

.fp-slidesNav.fp-bottom {
  bottom: 17px;
}

.fp-slidesNav.fp-top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.fp-slidesNav ul li {
  display: inline-block;
}

#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}

#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  cursor: none;
}

a {
  cursor: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(/font/MontserratAlternates-Medium.ttf);
}
p {
  font-size: 1.1rem;
}

*, :after, :before {
  box-sizing: border-box;
  font-family: "Montserrat";
}

nav {
  top: 20px;
  left: 0;
  position: fixed;
  z-index: 10;
  opacity: 0.8;
  display: grid;
  border-radius: 50px;
  background: rgba(255, 225, 2, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  align-items: center;
  margin: 0 25px 0 25px;
  list-style: none;
}
nav a {
  cursor: none;
  padding: 2.5vh 2.5vw 2.5vh 2.5vw;
  text-decoration: none;
  color: black;
}
nav a:hover {
  color: #231C07;
}

.cursor {
  z-index: 11;
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border: 2px solid #fff;
}
.cursor.active {
  -webkit-animation: active_cursor 250ms ease forwards running;
          animation: active_cursor 250ms ease forwards running;
}
.cursor.unactive {
  -webkit-animation: unactive_cursor 250ms ease forwards running;
          animation: unactive_cursor 250ms ease forwards running;
}

@-webkit-keyframes active_cursor {
  0% {
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
  100% {
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
  }
}

@keyframes active_cursor {
  0% {
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
  100% {
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
  }
}
@-webkit-keyframes unactive_cursor {
  0% {
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
  }
  100% {
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}
@keyframes unactive_cursor {
  0% {
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
  }
  100% {
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
  }
}
.btn {
  padding: 10px;
  border: 3px solid black;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  color: black;
  transition: 250ms;
}
.btn:hover {
  -webkit-text-decoration: underline #FF9C01;
          text-decoration: underline #FF9C01;
  background-color: black;
  color: #FF9C01;
  border: 3px solid #FF9C01;
}
.btn:hover:hover ~ .cursor {
  transform: scale(6);
}

.section.section-projet {
  background-color: #FF9C01;
}
.section.section-projet .fp-tableCell > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.section.section-projet .fp-tableCell > div > :first-child {
  display: flex;
  justify-content: flex-end;
  margin: 0 5vw 0 0;
}
.section.section-projet .fp-tableCell > div > :first-child img {
  height: auto;
  width: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}
.section.section-projet .fp-tableCell > div > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12.5vw 0 2.5vw;
}
.section.section-projet .fp-tableCell > div > :last-child p a.link {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.5px;
  padding: 0 2.5px;
  margin: 0 2.5px;
}
.section.section-projet .fp-tableCell > div > :last-child p a.link:after {
  content: "";
  position: absolute;
  background-color: #ffe8a3;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}
.section.section-projet .fp-tableCell > div > :last-child p a.link:hover:after {
  width: 100%;
  height: 2px;
  bottom: -1px;
}
.section.section-projet .fp-tableCell > div > :last-child p a.link:hover {
  color: #fff;
}
