@import '~fullPage.js/dist/fullpage';
body{
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: none;
}

a{
    cursor: none;
    &.veille{
        position:fixed;
        z-index:10;
        top:20px;
        right:0;
        padding:2.5vh 1vw 2.5vh 2.5vw;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.5);
        color: #000;
        border-radius: 50px 0px 0px 50px;
    }
}

@font-face {
    font-family: "Montserrat";
    src: url(/font/MontserratAlternates-Medium.ttf);
}

p{
    font-size: 1.1rem;
    line-height: 1.4;
}

*, :after, :before {
    box-sizing: border-box;
    font-family: "Montserrat";
}

nav{
    top: 20px;
    position: fixed;
    z-index: 10;
    opacity: 0.8;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    align-items: center;
    margin: 0 20px 0 20px;
    .slide{
        list-style: none;
        position: absolute;
        width: 20%;
        height: 10px;
        top: 80%;
        left: 2.5%;
        background:#fff;
        z-index:-1;
        transition:0.5s;
        border-radius: 25px;
    }
    a{
        padding: 2.5vh 2.5vw 2.5vh 2.5vw;
        text-decoration: none;
        color: black;
        min-width: 12.5vw;
        &:nth-child(2).active ~ .slide{
            left:27.5%;
        }
        &:nth-child(3).active ~ .slide{
            left:52.5%;
        }
        &:nth-child(4).active ~ .slide{
            left:77.5%;
        }
    }
}


.cursor{
    z-index: 11;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 3px solid #fff;
    &.active{
        animation: active_cursor 250ms ease forwards running;
    }
    &.unactive{
        animation: unactive_cursor 250ms ease forwards running;
    }
}

@keyframes active_cursor{
    0%{
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
    100%{
        transform: translate(-50%, -50%);
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
    }
}
@keyframes unactive_cursor{
    0%{
        transform: translate(-50%, -50%);
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
    }
    100%{
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
}


.btn{
    z-index: 10;
    position: relative;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #ffffff;
    &:after{
        z-index: -1;
        content: "";
        position: absolute;
        background-color: #6DA8DC;
        transform: translateY(-50%);
        border-radius: 50px;
        height: 60px;
        width: 60px;
        left: 0px;
        top: 50%;
        bottom:0;
        transition: 0.5s;
    }
    &:hover:after{
        width: 100%;
    }
}


.section{
    transition: 1s;
    // background-color: #FF9C01;
}

.section.s1{

    // background: linear-gradient(179.46deg, #FFE600 1.87%, #FF6B00 164%);
    h1{
        font-size: 4rem;
        z-index: 10000;
        text-align: center;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.s2{
    // background: linear-gradient(179.46deg, #FFCB1F 1.87%, #FFDF75 99.53%);
    .fp-tableCell>div{

        display: grid;
        grid-template-columns: 50vw 60vw;
        &>:first-child{
            display: flex;
            justify-content: flex-end;
            margin: 0 2.5vw 0 0;
            div.blob{
                height: 400px;
                width: 400px;
                background: rgba(255, 255, 255, 0.33);
                border-radius: 50%;
                border-radius: 75% 25% 23% 77% / 37% 56% 44% 63%;
                animation: blob 20s 0s linear infinite alternate;
                overflow: hidden;
                transition: 0.5s;
                &img{
                    position: absolute;

                    transition: 0.5s;
                }
            }
        }
        &>:last-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 20vw 0 2.5vw;
            a{
                margin-top: 2vh;
                width: 150px;
            }
        }
    }
}
@keyframes blob{
    0%{
        border-radius: 21% 79% 47% 53% / 42% 44% 56% 58% ;
    }

    20%{
        border-radius: 38% 62% 72% 28% / 61% 62% 38% 39%  ;
    }

    40%{
        border-radius: 71% 29% 35% 65% / 76% 42% 58% 24%  ;
    }

    60%{
        border-radius: 70% 30% 61% 39% / 42% 79% 21% 58%   ;
    }

    80%{
        border-radius: 63% 37% 49% 51% / 30% 29% 71% 70% ;
    }

    100%{
        border-radius: 75% 25% 23% 77% / 37% 56% 44% 63%;
    }
}



.s3{
    // background: linear-gradient(180deg, #99BCFF 0%, #70A2FF 100%);
    text-align: center;
    .content{
        display: flex;
        margin-bottom: 5vh;
        flex-direction: row;
        justify-content: center;
        .card{
            width: 27vw;
            height: 40vh;
            margin:2.5vh 2.5vw 2.5vh 2.5vw;
            padding: 2rem 1rem;
            background: #fff;
            position:relative;
            display: flex;
            align-items: center;
            transition: 0.5s ease-in-out;
            justify-content: center;
            border-radius: 15px;

            &:hover{
                .txt{
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
            &:before{
                border-radius: 15px;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                background: rgba(35, 28, 7, 0.6);
                z-index: 2;
                transition: 0.5s all;
                opacity: 0;
            }
            &:hover:before{
                opacity: 1;
            }
            img{
                border-radius: 15px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: 1s;
            }
            .txt{
                position: relative;
                z-index: 3;
                color: #fff;
                opacity: 0;
                transform: translateY(20px);
                transition: 0.5s all;
                a{
                    padding: 0 5px;
                    margin: 0 5px;
                    &.link{
                        position: relative;
                        text-decoration: none;
                        color: #ffffff;
                        font-size: 22px;
                        letter-spacing: 0.5px;
                        padding: 0 5px;
                        margin: 0 5px;
                        &:after{
                            content: "";
                            position: absolute;
                            background-color: #EECEAA;
                            height: 4px;
                            width: 0;
                            left: 0;
                            bottom: -2.5px;
                            transition: 0.3s;
                        }
                        &:hover:after{
                            width: 100%;
                            height: 4px;
                            bottom: -2.5px;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    a{
        padding: 1.75vw;
        &.btn:after{
            background-color: #EECEAA;

        }
    }
}
.s4{
    text-align: center;
    // background: linear-gradient(179.46deg, #FF6B00 -82.54%, #FFE600 95.29%);
    .container{
        margin: 0 25vw 2.5vh 25vw;
        a{
            padding: 0 5px;
            margin: 0 5px;
            &.link{
                position: relative;
                text-decoration: none;
                color: #ffffff;
                font-size: 22px;
                letter-spacing: 0.5px;
                padding: 0 5px;
                margin: 0 5px;
                &:after{
                    content: "";
                    position: absolute;
                    background-color: #58CD9E;
                    height: 4px;
                    width: 0;
                    left: 0;
                    bottom: -2.5px;
                    transition: 0.3s;
                }
                &:hover:after{
                    width: 100%;
                    height: 4px;
                    bottom: -2.5px;
                }
                &:hover{
                    color: #231C07;
                }
            }
            &.gitlab{
                filter: grayscale(100%);
                transition: 0.3s;
                &:hover{
                    filter: grayscale(0%);
                }
            }
            img{
                height: 7.5vh;
                width: auto;
                padding: 7px;
                border-radius: 7px;
            }
            &.linkedin{
                filter: grayscale(100%);
                transition: 0.3s;
                &:hover{
                    filter: grayscale(0%);
                }
            }
        }
        p{
            text-align: left;
        }
    }
}


@media (max-width:1024px) {

    body{
        cursor: auto;
    }
    a{
        cursor: pointer;
    }
    p{
        font-size: 1rem;
    }

    nav{
        a{
            font-size: 0.9rem;
        }
    }

    .s1{
        img{
            display: none;
        }
    }

    .s2{
        .fp-tableCell>div{
            &>:first-child{
                align-items: center;
                img{
                    height: 30vw;
                    width: 30vw;
                }
            }
            &>:last-child{
                margin: 0 15vw 0 2.5vw;
            }
        }
    }
    .s3{
        .content{
            .card{
                width: 35vw;
            }
        }
    }

    .cursor{
        display: none;
    }

}
