@import '~fullPage.js/dist/fullpage';
body{
    margin: auto;
    display: flex;
    justify-content: center;
    cursor: none;
}
a{
    cursor: none;
}
@font-face {
    font-family: "Montserrat";
    src: url(/font/MontserratAlternates-Medium.ttf);
}

p{
    font-size: 1.1rem;
    line-height: 1.4;

}

*, :after, :before {
    box-sizing: border-box;
    font-family: "Montserrat";
}

nav{
    top: 20px;
    left: 0;
    position: fixed;
    z-index: 10;
    opacity: 0.8;
    display: grid;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    align-items: center;
    margin: 0 25px 0 25px;
    list-style: none;
    a{
        cursor: none;
        padding: 2.5vh 2.5vw 2.5vh 2.5vw;
        text-decoration: none;
        color: black;
        &:hover{
            color: #231C07;
        }
    }
}



.cursor{
    z-index: 11;
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border: 2px solid #fff;
    &.active{
        animation: active_cursor 250ms ease forwards running;
    }
    &.unactive{
        animation: unactive_cursor 250ms ease forwards running;
    }
}

@keyframes active_cursor{
    0%{
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
    100%{
        transform: translate(-50%, -50%);
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
    }
}
@keyframes unactive_cursor{
    0%{
        transform: translate(-50%, -50%);
        border: 3px solid #fff;
        width: 30px;
        height: 30px;
    }
    100%{
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
    }
}

.btn{
    z-index: 10;
    position: relative;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    color: #ffffff;
    &:before{
        z-index: -1;
        content: "";
        position: absolute;
        // background-color: #ffffff7c;
        transform: translateY(-50%);
        border-radius: 50px;
        height: 60px;
        width: 60px;
        left: 0px;
        top: 50%;
        bottom:0;
        transition: 0.5s;
    }
    &.vue:before{
        background-color: #3FB984;
    }
    &.Laravel:before{
        background-color: #FF291A;
    }
    &:hover:before{
        width: 100%;
    }
}
.section{
    transition: 1s;

    .fp-tableCell>div{

        display: grid;
        grid-template-columns: 0.5fr 1fr;
        &>:first-child{
            display: flex;
            justify-content: flex-end;
            margin: 0 5vw 0 0;
            align-items: center;
            img{
                height: 40vh;
                width: auto;
                object-fit: cover;
            }
        }
        &>:last-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 12.5vw 0 2.5vw;
            p{

                a{
                    &.btn{
                        margin-top: 2vh;
                        padding: 1.75vw;
                    }
                    &.link{
                        position: relative;
                        text-decoration: none;
                        color: #ffffff;
                        letter-spacing: 0.5px;
                        padding: 0 2.5px;
                        margin: 0 2.5px;
                        &:after{
                            content: "";
                            position: absolute;
                            // background-color: #ffe8a3;
                            height: 2px;
                            width: 0;
                            left: 0;
                            bottom: -1px;
                            transition: 0.3s;
                        }
                        &:hover:after{
                            width: 100%;
                            height: 2px;
                            bottom: -1px;
                        }
                        &:hover{
                            color: #fff;
                        }
                        &.vue:after{
                            background-color: #3FB984;
                        }
                        &.art:after{
                            background-color: #C7AD75;
                        }
                    }
                }
            }
        }
    }
}
